<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositório de Arquivos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Repositório de Arquivos por Categoria</h1>
        <a class="btn btn-primary my-3" href="/upload">Upload de Arquivo</a>

        {% for category, files in files_by_category.items() %}
            <h2>{{ category }}</h2>
            <ul class="list-group mb-4">
                {% for file in files %}
                    <li class="list-group-item">
                        <a href="{{ url_for('uploaded_file', category=category, filename=file) }}" download>{{ file }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</body>
</html>
